header {
  display: flex;
  justify-content: center;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row: 1fr;
  gap: 20px;
}

.article {
  grid-column: 2/3;
}

footer {
  display: flex;
  justify-content: center;
}
